/* font-family: 'Recursive', sans-serif;
    font-family: 'Righteous', cursive;
*/

* {
    box-sizing: border-box;
}

.frontPageRoot {
    background-color: #FB6B6B;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 100%;
    position: absolute;
}

.frontPageContainer {
    background-color: #FB6B6B;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto 0;
}

.frontPageContainer > img {
    width: 136px;
    height: 161px;
    margin-bottom: 30px;
}

.frontPageContainer > div {
    font-family: 'Righteous';
    color: #FFFFFF;
    font-weight: 400;
    font-size: 36px;
    margin-bottom: 30px;
}

.frontPageContainer > button {
    font-family: 'Recursive';
    color: #D70900;
    font-size: 18px;
    background-color: #FFFFFF;
    width: 254px;
    height: 54px;
    border: 1px solid #D70900;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.frontPageContainer > button:hover {
    cursor: pointer;
}








.principalPageRoot {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #FB6B6B;
    min-height: 100%;
    width: 100%;
}




.topRoot {
    background-color: #FB6B6B;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topContainer {
    background-color: #FB6B6B;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 42px 0;
}

.topContainer > div {
    font-family: 'Righteous';
    color: #FFFFFF;
    font-weight: 400;
    font-size: 36px;
}

.topContainer > img {
    width: 52px;
    height: 60px;
    margin-right: 15px;
}





.contentRoot {
    background-color: #FB6B6B;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 60px;
}

.contentContainer {
    background-color: #FB6B6B;
}

.contentCard {
    background-color: #FFFFFF;
    width: 300px;
    height: 65px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    margin: 20px 0;
}

.contentCard:hover {
    cursor: pointer;
}

.contentCard > div {
    font-family: 'Recursive';
    font-weight: 700;
    font-size: 16px;
}

.contentCard > ion-icon {
    font-size: 30px;
}


.questionCard {
    background-color: #FFFFD4;
    min-height: 131px;
    width: 299px;
    position: relative;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 20px 10px 10px 15px;
    margin: 20px 0;
}

.questionCard:hover {
    cursor: pointer;
}

.questionCard > div {
    font-family: 'Recursive';   
    font-weight: 400;
    font-size: 18px;
}

.questionCard > ion-icon {
    font-size: 20px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}





.answerCard {
    background-color: #FFFFD4;
    min-height: 131px;
    width: 299px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 20px 15px 10px 15px;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.answerText {
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}

.answerContainer {
    display:flex;
    justify-content: space-between;
}

.answerContainer > div {
    font-family: 'Recursive';
    font-weight: 400;
    font-size: 12px;
    color: #FFFFFF;
    width: 85px;
    height: 37px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.answerContainer > span {
    text-align: justify;
}

.notRememberOption {
    background-color: #FF3030;
}

.notRememberOption:hover {
    cursor: pointer;
}

.almostOption {
    background-color: #FF922E;
}

.almostOption {
    cursor: pointer;
}

.rememberOption {
    background-color: #2FBE34;
}

.rememberOption {
    cursor: pointer;
}




.answerNotRemember {
    background-color: #FFFFFF;
    width: 300px;
    height: 65px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    margin: 20px 0;
}

.answerNotRemember > div {
    font-family: 'Recursive';
    font-weight: 700;
    font-size: 16px;
    text-decoration-line: line-through;
    color: #FF3030;
}

.answerNotRemember > ion-icon {
    color: #FF3030;
    font-size: 23px;
}

.answerAlmost {
    background-color: #FFFFFF;
    width: 300px;
    height: 65px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    margin: 20px 0;
}

.answerAlmost > div {
    font-family: 'Recursive';
    font-weight: 700;
    font-size: 16px;
    text-decoration-line: line-through;
    color: #FF922E;
}

.answerAlmost > ion-icon {
    color: #FF922E;
    font-size: 23px;
}

.answerRemember {
    background-color: #FFFFFF;
    width: 300px;
    height: 65px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    margin: 20px 0;
}

.answerRemember > div {
    font-family: 'Recursive';
    font-weight: 700;
    font-size: 16px;
    text-decoration-line: line-through;
    color: #2FBE34;
}

.answerRemember > ion-icon {
    color: #2FBE34;
    font-size: 23px;
}



.bottomRoot {
    background-color: #FFFFFF;
    width: 100%;
    position: fixed;
    z-index: 1;
    bottom: 0; 
}

.bottomContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 70px;
}

.result {
    font-family: 'Recursive';
    font-weight: 400;
    font-size: 18px;
    margin: 10px 0;
}

.iconContainer {
    display: flex;
    margin-bottom: 10px;
}


.iconAnswerRemember > ion-icon {
    color: #2FBE34;
    font-size: 23px;
}

.iconAnswerAlmost > ion-icon {
    color: #FF922E;
    font-size: 23px;
}

.iconAnswerNotRemember > ion-icon {
    color: #FF3030;
    font-size: 23px;
}


.resultContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.titleContainer {
    display: flex;
    margin-top: 10px;
}

.titleContainer > img {
    margin-right: 5px;
}

.titleContainer > span {
    font-family: 'Recursive';
    font-weight: 700;
    font-size: 18px;
}

.resultText {
    font-family: 'Recursive';
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    width: 222px;
    margin-top: 10px;
}
